# Ignore node_modules folder


# Ignore all log files
*.log

# Ignore build folder
/build/

# Ignore environment files
.env

# Ignore any file ending with .tmp
*.tmp

# Ignore a specific file
secret.txt

# Ignore filesname with a specific pattern

# Ignore VS Code settings
.vscode/
.pytest_cache/
Allure_Concept/Allure_Concept/reports/
Allure_Concept/reports/
# Ignore Python cache files
__pycache__/